.courses {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
}

.courses:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

// TODO: Move this
// .card {
//   box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
//   transition: box-shadow 0.5s;
// }

// .card:hover {
//   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
// }
