.courses {
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  border-radius: 10px;
}

.courses:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

// TODO: Move this
// .card {
//   box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
//   transition: box-shadow 0.5s;
// }

// .card:hover {
//   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
// }

.rating {
  color: #FFB200;
}

.instructor {
  color: #8a8a8a;
  font-size: 1em;
}

.course-title {
  font-size: 1.25em;
}

.course-desc {
  font-size: 1em;
}
