{{ $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}
{{ if .Title }}
<figure>
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" loading="lazy" />
  <figcaption>{{ .Title }}</figcaption>
</figure>
{{ else }}
<img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" />
{{ end }}

<style>
  figcaption {
    text-align: center;
    color: rgb(103, 103, 103);
    /* font-style: italic; */
    margin-top: 10px;
    font-family: monospace;
    font-size: 0.85em;
  }
</style>
