<footer class="shared footer bg-blue-light py-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12 col-xl-4 text-center text-xl-start pb-4">
        <h4 class="fs-4 fw-semibold text-uppercase text-primary">{{ .Site.Title }}</h4>
        <p class="small text-black-61">{{ .Site.Params.description }}</p>
        <h5 class="fs-6 fw-semibold text-primary">Contact us</h5>
        {{ range .Site.Params.contact }}
        <p class="small text-black-61 mb-1"><a class="email" href=mailto:{{ . }}>{{ . }}</a></p>
        {{ end }}
        {{ range .Site.Params.phone }}
          <p class="small text-black-61 mb-1"><a class="phone" href=tel:{{ . }}>{{ . }}</a></p>
        {{ end }}
        </br>
        {{ with .Site.Params.social }}
        <ul class="d-flex justify-content-center justify-content-xl-start list-unstyled">
          {{ with .dribbble }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" target="_blank" href="{{ . }}">{{ partial "icons/dribbble.html" }}</a></li>{{ end }}
          {{ with .instagram }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" target="_blank" href="{{ . }}">{{ partial "icons/instagram.html" }}</a></li>{{ end }}
          {{ with .twitter }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/twitter.html" }}</a></li>{{ end }}
          {{ with .whatsapp }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/whatsapp.html" }}</a></li>{{ end }}

          {{ with .linkedin }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/linkedin.html" }}</a></li>{{ end }}

          {{ with .youtube }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/youtube.html" }}</a></li>{{ end }}

          {{ with .discord }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/discord.html" }}</a></li>{{ end }}

          {{ with .newsletter }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/newsletter.html" }}</a></li>{{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-12 col-xl-2 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-primary">About us</h5>
        <ul class="list-unstyled">
          {{ range .Site.Menus.footer }}
            <li class="">
              <a class="small text-black-61 text-decoration-none" target="_blank" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-3 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-primary">Location</h5>
        <ul class="list-unstyled">
          {{ range .Site.Params.location }}
          <p class="small text-black-61 m-0">{{ . }}</p>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-3 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-primary">Newsletter</h5>
        <form method="post" action="https://sendfox.com/form/1drwn5/m7y4j8" class="sendfox-form" id="m7y4j8" data-async="true" data-recaptcha="true">
          Essays, articles, series, offers and more over emails.
          <p>
          <label for="sendfox_form_name"></label><input class="form-text" type="text" id="sendfox_form_name" placeholder="First Name" name="first_name" required />
          <label for="sendfox_form_email"></label><input class="form-text" type="email" id="sendfox_form_email" placeholder="Email" name="email" required />
          </p>
          <!-- no botz please -->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
          <p><button class="btn btn-primary" type="submit">Subscribe<span class="ms-2">{{ partial "icons/arrow-right.html" }}</span></button></p>
        </form>
        <script src="https://cdn.sendfox.com/js/form.js" charset="utf-8"></script>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ with .Site.Params.copyright }}
          <p class="small text-black-61 text-center">{{ . }}</p>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
