<section class="section brands py-3">
  <div class="container">
    <div class="row">
      {{ with .content.title }}
        <div class="col-12">
          <h2 class="fw-semibold text-primary text-center pb-4">{{ . }}</h2>
        </div>
      {{ end }}
    </div>
    <div class="row">
      {{ with .content.description }}
        <div class="col-12">
          <p class="text-center pb-4">
            {{ . }}
          </p>
        </div>
      {{ end }}
    </div>
    <div class="row align-items-center justify-content-center">
      {{ range .content.items }}
      <div class="col px-3 my-2 text-center">
        {{ partial "utilities/image-third.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
