<section class="section services py-3">
  <div class="row section-divider p-4 ">
    <br>
  </div>
  <div class="container">
    <div class="row justify-content-center pb-3">
      <div class="col-12 col-xl-6">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
        {{ with .content.text }}
          <p class="text-black-61 text-center pb-3">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row justify-content-center g-5">
      {{ range .content.cards }}
        <div class="col-12 col-xl-4">
          <div class="card courses">
            <div class="card-body">
              {{ with .title }}
              <h4 class="card-title text-primary course-title">{{ . }}</h4>
              {{ end }}
            </div>

            {{ with .image }}{{ partial "utilities/image-fluid.html" . }}{{ end }}

            <div class="card-body">
              {{ with .text }}
              <p class="card-text text-black-61 course-desc">{{ . }}</p>
              {{ end }}

              <span>
                {{ with .rating }}
                  {{$full_stars := math.Mod . 6 }}
                  {{$half_stars := math.Div . 0.5 }}
                  {{$half_stars := math.Mod $half_stars 2 }}
                  {{$empty_stars := math.Add $full_stars $half_stars }}
                  {{$empty_stars := math.Sub 5 $empty_stars }}

                  {{ range $num := (seq $full_stars) }}
                  <span class="bi bi-star-fill rating"></span>
                  {{ end }}

                  {{ range $num := (seq $half_stars) }}
                  <span class="bi bi-star-half rating"></span>
                  {{ end }}

                  {{ range $num := (seq $empty_stars) }}
                  <span class="bi bi-star rating"></span>
                  {{ end }}
                {{ end }}
                {{ with .rating }}
                <b>({{ . }})</b>
                {{end}}
              </span>

              {{ with .content }}
              <p class="card-text text-black-61 course-content"><span class="bi bi-check2-square"></span>&nbsp {{ . }}</p>
              {{ end }}

              {{ with .video }}
              <p class="card-text text-black-61 course-content"><span class="bi bi-camera-video"></span>&nbsp {{ . }} hrs+ Lectures</p>
              {{ end }}

              {{ with .resources }}
              <p class="card-text text-black-61 course-content"><span class="bi bi-cloud-arrow-down"></span>&nbsp {{ . }} downloadable resources</p>
              {{ end }}

              {{ with .codeexercise }}
              <p class="card-text text-black-61 course-content"><span class="bi bi-bookmark-check"></span>&nbsp {{ . }} exercises</p>
              {{ end }}

              {{ with .articles }}
              <p class="card-text text-black-61 course-content"><span class="bi bi-file-earmark-text"></span>&nbsp {{ . }} articles</p>
              {{ end }}

              {{ with .documents }}
              <p class="card-text text-black-61 course-content"><span class="bi bi-file-earmark-pdf"></span>&nbsp {{ . }} files</p>
              {{ end }}

              {{ with .certification }}
              <p class="card-text text-black-61 course-content"><span class="bi bi-postcard"></span>&nbsp Certificate on completion</p>
              {{ end }}

              {{ with .access }}
              <p class="card-text text-black-61 course-content"><span class="bi bi-clock"></span>&nbsp Online access for {{ . }} days</p>
              {{ end }}

              {{ with .learners }}
              <p class="learners"><span class="bi bi-people"></span>&nbsp {{ . }}+ enrolled</p>
              {{ end }}

              {{ with .instructor }}
              <p class="instructor">
                <span class="bi bi-person-video3"></span>&nbsp
                {{ . }}
              </p>
              {{ end }}

              {{ with .button }}
              <a class="btn btn-outline-primary" target="_blank" href="{{ .url }}">{{ .label }}</a>
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
