{{ define "main" }}
  <section class="section blog-single py-5">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-12">
          {{ with .Title }}
            <h2 class="display-1 fw-bold text-center text-primary pb-3">{{ . }}</h2>
          {{ end }}
          {{ with .Params.description }}
            <p class="text-black-61 text-center pb-3">{{ . }}</p>
          {{ end }}
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-12 d-flex justify-content-center">
          <div class="blog-content fs-5">
            {{ .Content }}
          </div>
        </div>
        <hr>
        <script src="https://utteranc.es/client.js"
          repo="inpyjama/inpyjama"
          issue-term="url"
          theme="github-light"
          crossorigin="anonymous"
          async>
        </script>
      </div>
      <div class="row pb-5">
      </div>
    </div>
  </section>
{{ end }}
