{{ define "main" }}
  <section class="section blog-single py-5">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-8 content">
          {{ with .Title }}
            <h1 class=" fw-bold text-center text-primary pb-2 post-heading">{{ . }}</h1>
            <br>
          {{ end }}

          {{ with .Params.description }}
            <p class="text-black-61 text-center pb-3">{{ . }}</p>
          {{ end }}

          {{ with .Params }}
          <table class="row publishing-details">
            <tr>
            <td>
              <a href="{{ .preferred }}" target="_blank">
              {{ if .authorImage }}<img class="author-image" src="/images/{{ .authorImage }}"/> {{ end }}
            </a>
            </td>
            <td>
              <div class="post-author">
              {{ if .author }}
                <a class="author-link" href="{{ .preferred }}" target="_blank">
                <b>{{ .author }} </b></a> |
              {{ end }}

              {{ if .blog }}
                <a href="https://{{ .blog }}" target="_blank"><span class="bi bi-globe2"></span></a>&nbsp;
              {{ end }}

              {{ if .email }}
                <a href="mailto:{{ .email }}" target="_blank"><span class="bi bi-envelope"></span></a>&nbsp;
              {{ end }}

              {{ if .linkedin }}
                <a href="{{ .linkedin }}" target="_blank"><span class="bi bi-linkedin"></span></a>&nbsp;
              {{ end }}

              {{ if .twitter }}
                <a href="{{ .twitter }}" target="_blank"><span class="bi bi-twitter-x"></span></a>&nbsp;
              {{ end }}
              </div>
              <div class="post-author">
              {{ with .date }}
                {{ $t := . }}
                {{ $t = time.AsTime $t }}
                {{ $format := "2 Jan, 2006" }}
                <b> {{ $t.Format $format }} </b>
              {{ end }}
              </div>
            </td>
          </tr>
          </table>
          {{ end }}
          <!-- <br><br> -->
          <div class="blog-content fs-5">
            {{ .Content }}

          </div>
          <hr>
        </div>
        <div class="col-4">
        {{ with . }}{{ partial "utilities/book.html" . }}{{ end }}
        </div>
      </div>

      <!-- TODO: clean this up and enable -->
      <!-- <hr>
      <div class="row">
        <div class="col-12 d-flex">
        {{ with .Params }}
          <p>
            Author: {{ .author }}
          </p>
          <p>
            Socials: <a><span>Linkedin</span></a>,
                   <a><span>twitter</span></a>,
                   <a><span>blog</span></a>,
                   <a><span>email</span></a>
          </p>
          <p>
            Date: {{ .date }}
          </p>
        {{ end }}
      </div>
      </div> -->

      <div class="row justify-content-center">
        <div class="col-8 d-flex justify-content-center content">
        <script src="https://utteranc.es/client.js"
          repo="inpyjama/inpyjama"
          issue-term="url"
          theme="github-light"
          crossorigin="anonymous"
          async>
        </script>
        </div>
      </div>
    </div>
  </section>

  <!-- TODO: find this a home -->
  <style>
    .content {
      top:0px;
      padding: 3em;
      margin: 0px;
    }

    .post-heading {
      margin: 0px;
    }

    .post-author {
      align-items: left;
      padding: 0px;
      margin: 0px;
      margin-left: 10px;
    }

    .author-link {
      text-decoration: none !important;
    }

    .author-image {
      max-height: 50px;
      border-radius: 50%;
      margin:0px;
      padding:0px;
    }

    .publishing-details {
      margin-bottom: 1em;
    }

    @media only screen and (max-width: 1024px) {
      .content {
      top:0px;
      padding: 0.4rem;
      border-radius: 0px;
      margin: 0px;
      }

      .col-8 {
        width: 100%;
      }

      .col-4 {
        width: 100%;
        padding: 10px;
      }

      h1 {
        margin-bottom: 0.25em !important;
      }
    }
  </style>
{{ end }}
