.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-bottom: 0.05em;
  padding-top: 0.05em;
  box-shadow: 0px 0px 2px 0px rgb(47, 47, 47);
  .navbar-brand {
    img {
      width: auto;
      max-height: calc(1.4rem + .6vw);
    }
  }
}

.nav-item > .btn {
  transition: box-shadow 0.15s, background-color 0.15s, color 0.15s;
}

.nav-item > .btn:hover {
  background-color: $primary;
  color: white !important;
  box-shadow: 0px 0px 4px 0px rgb(97, 97, 97);
}

.nav-item > .btn:active {
  color: white !important;
  box-shadow: 0px 0px 0px 0px rgb(97, 97, 97);
}
