.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 5px 10px 0px rgba(47, 47, 47, 0.5);
  .navbar-brand {
    img {
      width: auto;
      max-height: calc(1.4rem + .6vw);
    }
  }
}

.nav-item > .btn {
  transition: box-shadow 0.15s, background-color 0.15s, color 0.15s;
}

.nav-item > .btn:hover {
  background-color: $primary;
  color: white !important;
  box-shadow: 0px 0px 4px 0px rgb(97, 97, 97);
}

.nav-item > .btn:active {
  color: white !important;
  box-shadow: 0px 0px 0px 0px rgb(97, 97, 97);
}

.card-text > btn {
  transition: box-shadow 1s, background-color 1s, color 1s;
}

.card-text > btn:hover {
  background-color: $primary;
  color: white !important;
  box-shadow: 0px 0px 4px 0px rgb(97, 97, 97);
}

.card-text > btn:active {
  color: white !important;
  box-shadow: 0px 0px 0px 0px rgb(97, 97, 97);
}
