{{ define "main" }}
  {{ with .Site.Data.home.hero }}{{ partial "sections/hero.html" . }}{{ end }}
  {{ with .Site.Data.home.reasons }}{{ partial "sections/reasons.html" . }}{{ end }}
  {{ with .Site.Data.home.learn }}{{ partial "sections/learn.html" . }}{{ end }}
  {{ with .Site.Data.home.portfolio }}{{ partial "sections/portfolio.html" . }}{{ end }}
  {{/*  {{ with .Site.Data.home.courses }}{{ partial "sections/courses.html" . }}{{ end }}  */}}
  {{ with .Site.Data.home.testimonials }}{{ partial "sections/testimonials.html" . }}{{ end }}
  {{/*  {{ with .Site.Data.home.team }}{{ partial "sections/team.html" . }}{{ end }}  */}}
  <!-- {{ with .Site.Data.home.cta }}{{ partial "sections/cta.html" . }}{{ end }} -->
{{ end }}
