{{ with .}}
<div class="row text-center">
  <h3 class="fw-bold text-primary text-center text-xl">
    Join the 15000+ Subscribers!
  </h3>
  <p>Essays, articles, series, offers and more over emails.</p>
  <form method="post" action="https://sendfox.com/form/1drwn5/m7y4j8" class="sendfox-form" id="m7y4j8" data-async="true" data-recaptcha="true">
    <p>
      <input class="form-text" type="text" id="sendfox_form_name" placeholder="First Name" name="first_name" required />
      <input class="form-text" type="email" id="sendfox_form_email" placeholder="Email" name="email" required />
      <!-- no botz please -->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
    </p>
    <p>
      <button class="btn btn-primary" type="submit">
        Join the Newsletter!
        <span class="ms-2">
          {{ partial "icons/arrow-right.html" }}
        </span>
      </button>
    </p>
</form>
<script src="https://cdn.sendfox.com/js/form.js" charset="utf-8"></script>
{{ end }}
